body {
  font-family: Palatino;
  background: url('../public/images/background.jpg');
  background-size: 75%;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 1.0em;
}

.form-item {
  font-size: 1.5em;
  flex-grow: 1;

}

label.primary {
  display: block;
  margin: 0.4em 0;
}

label::after {
  content: "";
}

button, input[type="submit"] {
  margin-top: 1rem;
  margin: 0.5rem 0.5rem;
  color : red;
  background: yellow;
  font-style: bold;
  font-size: 0.8em;
}
  input[type="text"] {
  text-transform: capitalize;
}

}

#favourite-album-list {
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: lower-latin;
}

.favourite-album-list-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #20437c;
  border-radius: 5%;
  background: white;
}

h1 {
  font-size: 3.0em;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  /* border: 1px solid #20437c;
  border-radius: 5%; */
  text-align: center;
  background: white;
  color: grey
  }

h2 {
  font-size: 1.5em;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  background: white;
  color: grey
}

h3 {
  font-size: 1.0em;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
}
